@import 'reset';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$light-green: #def1cb;
$dark-green: #142600;

$side-font: "Russo One";                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
$main-font: "Maven Pro";

body { 
	position:relative;
	    color: #212121;
}

a {
	color:#333333;
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $side-font;
}

p,
li {
	font-family: $main-font;
}

nav {
	display:block;
	position:fixed;
	transform:rotate(45deg);
	transform-origin: 50% 0%;
	width:600px;
	right:-300px;
	font-family: $side-font, monospace;
	font-weight:300;
	font-size:20px;
	text-transform: uppercase;
	z-index:9999;

		.burger {
			height:90px;
			margin: 0 auto;
			width:100%;
			position:relative;
			text-align:center;
			background-color: transparent;
			transition:400ms all;
			z-index: 3;

			.burger-cont {
				transform: rotate(-45deg);
				position:relative;
				display:inline-block;
				cursor: pointer;
				width:40px;
				height:40px;
				transition: 400ms all;
				top:40px;
				z-index:3;
				@media (min-width: 768px) {
					margin-top:30px;
				}




				span {
					width:40px;
					display:block;
					border:2px solid $dark-green;
					border-radius:3px;
					position:absolute;
					transition: 0.5s all;			
				}

				span:nth-child(2),
				span:nth-child(3) {
					top:15px;
				}

				span:nth-child(4) {
					top:30px;
				}
			}

			.burger-cont:hover {
				opacity: 0.6;
			}	
		}

		ul {
			margin-top:0;
			padding-left:0;
			list-style-type: none;

			li {
				text-align: center;				
				margin-top:-44px;
				transition: all 500ms cubic-bezier(0.250, 0.250, 0.530, 1.505);
				opacity: 0;

				a {
					color: #ffffff;
					padding: 10px 0;
					transition: all 500ms cubic-bezier(0.250, 0.250, 0.530, 1.505);
					background-color: $dark-green;
					display:inline-block;
					width:100%;
				}
			}

			li:nth-child(4) a {
				background-color: $dark-green;
			}

			li:nth-child(3) a {
				background-color: lighten( $dark-green, 3% );
			}

			li:nth-child(2) a {
				background-color: lighten( $dark-green, 6% );
			}

			li:nth-child(1) a {
				background-color: lighten( $dark-green, 9% );
			}

			 li a:hover {
				background-color: lighten( $dark-green, 12% );
			}

		}

	&.open { 

		.burger {
		background-color: lighten( $dark-green, 15% );

			.burger-cont {
				@media (min-width: 768px) {
					top:0;
				}
			}

			span {
				border-color: $light-green;
			}

			span:nth-child(1),
			span:nth-child(4) {
				opacity:0;
			}

			span:nth-child(2) {
				transform:rotate(45deg);
			}

			span:nth-child(3) {
				transform:rotate(-45deg);
			}
		}

		ul {
			box-shadow: 0 5px 10px #212121;
		}

		li {
			margin-top:-1px;
			opacity:1;
		}	
	}
}

.holder {
	height:100%;
	width:1100px;
	margin:0 auto;
}

section { 
	height: 100vh;
	position:relative;
	text-align:center;
	overflow:hidden;

	h1 {
		font-family: $main-font;
		color: $dark-green;
	}
	
	h2 {
		text-align:center;
		text-transform: uppercase;
		width:100%;
		font-size:30px;
	}

	.holder {
    	display: flex;
    	flex-direction: row;
    	@media (max-width: 1100px)
			{
			    width: 100%;
			}
		@media (max-width: 800px) {
            align-items: baseline;
            flex-direction: column;
        }

    	
    	article {
    		padding-top:25px;
    		z-index:2;
    		border-radius:8px;
    		margin:50px 20px;
    	}
	}

		.scroll-down {
	    display: block;
	    width: 32px;
	    height: 32px;
	    position: absolute;
	    bottom: 25px;
	    right: 0;
	    left:0;
	    z-index: 9;
	    margin:auto;
	    background:url('/img/arrow-down.png') no-repeat center top;
	    cursor: pointer;
	    -webkit-animation: icon-ef 1.5s ease infinite;
	    -moz-animation: icon-ef 1.5s ease infinite;
	    animation: icon-ef 1.5s ease infinite;
	}
	@-webkit-keyframes icon-ef {
	    0%{opacity: 0.2; bottom: 30px;}
	    50%{opacity: 1; bottom: 25px;}
	    100%{opacity: 0.2; bottom: 30px;}
	}
	@-moz-keyframes icon-ef {
	    0%{opacity: 0.2; bottom: 30px;}
	    50%{opacity: 1; bottom: 25px;}
	    100%{opacity: 0.2; bottom: 30px;}
	}
	@keyframes icon-ef {
	    0%{opacity: 0.2; bottom: 30px;}
	    50%{opacity: 1; bottom: 25px;}
	    100%{opacity: 0.2; bottom: 30px;}
	}	
}	

.section_home {
	background-color: $light-green;

    .holder {    	
    	justify-content: flex-start;
    	align-items:center;
    
		article {
			max-width:600px;
			text-align:center;
			height:initial;
			background-color: rgba(255, 255, 255, 0.6);
			transition: 700ms left ease-out;
			position: relative;
			visibility:hidden;

			p {
				font-size: 20px;
    			line-height: 24px;

    			span {
    				    font-weight: bold;
					    color: #3d611a;
    			}

    			.hello,
    			.skills {
    				font-size: 24px;
    			}
			}		
		}

		img {
			visibility:hidden;
		}

}

	.myself {
		width: auto;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    z-index: 2;
	    max-height: 80%;
    	max-width: calc(100% - 600px);
	}	
}

.section_skills {
	background-color: darken($light-green, 10%);
	z-index:2;

	.holder {
		flex-direction:column;
		justify-content:flex-start;
		position:relative;

		.skills {
				display:flex;
				justify-content:space-around;
			}

		.skills-learned {
			max-width:700px;
		}

		.skills-learning {
			max-width:350px;
		}

		.skills-learned,
		.skills-learning {
			display:flex;
			justify-content:center;
			flex-wrap:wrap;

			h3 {
				width: 100%;
			    padding-bottom: 50px;
			    font-size: 24px;
			}

			.skill {
				position:relative;
				width:120px;
				height:90px;
				padding-top:30px;
				transform: rotateX(-90deg);
			}

			.skill5,
			.skill9 {
				margin-left:120px;
			}

			.skill14 {
				margin-top:-60px;
			}

			.skill2 img,
			.skill4 img {
				max-width:53px;
			}

			.skill:before {
			content:"";
			position:absolute;
			left:0;
			bottom: 60px;
			width: 0;
			height: 0;
			border-left: 60px solid transparent;
			border-right: 60px solid transparent;
			border-bottom: 120px solid $light-green;
			z-index:-1;
			}

			.skill:after {
			content:"";
			position:absolute;
			bottom: -60px;
			left:0;
			width: 0;
			height: 0;
			border-left: 60px solid transparent;
			border-right: 60px solid transparent;
			border-top: 120px solid $light-green;
			z-index:-1;
			}

			@for $k from 1 through 14 {	

				$j: 50 - $k * 2;
		
				.skill#{$k}:before,
				.skill#{$k}:after {
		  			border-top-color: darken($light-green, $j);
		  			border-bottom-color: darken($light-green, $j); 
		  		}
		  	}

			img {
				max-width:70px;
				margin:0 auto;
				transition:500ms all;

			}
		}
	}
}

.section_portfolio {
	background-color: $light-green;
	flex-direction: column;
	z-index:3;

	.holder {
		flex-direction: column;
	}

	header {
		position:absolute;
		width:inherit;

		h2 {
			margin:30px 0;
		}
	}
	
	.portfolio_items-container {
		display:flex;
		justify-content:space-around;
		flex-flow:row wrap;
		width:100%;


		.portfolio_item {
			display:flex;
		    flex-direction:column;
		    align-items:center;
			width: -webkit-calc(50% - 30px);
    		width:    -moz-calc(50% - 30px);
    		width:         calc(50% - 30px);
			max-width:600px;
		    position:relative;
		    z-index:2;
		    overflow:hidden;
		    margin:10px 15px;
		    border-top: 2px solid;

		    .overlay {
		    	position:relative;
		    	line-height:0;
		    	overflow:hidden;

		    	&:after {
		    		content: "";
		    		position:absolute;
		    		width:100%;
		    		height:100%;		    		    
				    top: 0;
				    left: 0;
				    transition: 300ms all;
				    background-color: transparentize($dark-green, 0.9);				    
		    	}

		    	&:before {
		    		    content: "+";
					    position: absolute;
					    width: 40px;
					    height: 40px;
					    right: 20px;
					    bottom: 20px;
					    background-color: $dark-green;
					    line-height: 40px;
					    border-radius: 20px;
					    font-size: 32px;
					    color: $light-green;
					    transition: 300ms all;
					    z-index:3;
		    	}
		    }

		    img {
		    		transition: 300ms all;
		    		width:100%;
		    }

		    button {
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    transform: translate(-50%, -50%);
				    background-color: transparent;
				    padding: 15px;
				    text-transform: uppercase;
				    border: none;;
				    color: $dark-green;
				    transition: 300ms all;
				    opacity:0;
				    font-family:$side-font;
				    font-size:20px;
				    z-index:10;
				    cursor:pointer;
				    will-change:transform; 

				    &:before {
				    	content:"";
				    	position:absolute;
				    	bottom:0;
				        right:-50px;
				        height:20px;
				        width:100px;
				        border-right: 2px solid $dark-green;
				        border-bottom: 2px solid $dark-green;
				        will-change:transform;
				        transition:500ms all; 				    
					}

				    &:after {
				    	content:"";
				    	position:absolute;
				    	top:0;
				        left:-50px;
				        height:20px;
				        width:100px;
				        border-left: 2px solid $dark-green;
				        border-top: 2px solid $dark-green;
				        will-change:transform;
				        transition:500ms all; 				    
				    }
			}

		    .portfolio_item-meta {
		    	bottom:0px;
		    	padding:10px 0;
		    	width:100%;
		    	z-index:1;
		    	max-width:400px;

		    	a:hover	.overlay:before {
		    		transform: scale(1.05) rotate(90deg);
		    	}

		    	a:hover	.overlay:after {
		    		background-color: transparentize(#ffffff, 0.4);
		    		transform: scale(1.05);
		    	}

		    	a:hover img {
		    		transform: scale(1.05);
		    	}

		    	a:hover button {
		    		opacity:1;

		    		 &:after {
		    		 	left:0;
		    		 }

		    		 &:before {
		    		 	right:0;
		    		 }
		    	}
		    }		    

		    h3 {
		    	text-align:center;
		    	margin:10px 0;
		    	text-transform:uppercase;
		    	font-size:24px;
		    	font-family: $main-font;

		    }

		    ul {
		    	text-align:left;
		    	margin:0 auto;
		    	list-style-type: none;
		    	padding-top:15px;
		    	background-color: $light-green;

		    	li {
		    		position:relative;
		    		padding-left:10px;
		    		padding-bottom:15px;
		    		font-size:16px;
		    	}

		    	li:before {
		    		content:'';
		    		position:absolute;
		    		left: -10px;
				    top: 0px;
				    height: 20px;
		    		width:10px;
		    		background-image: url('/img/pointer.png');
				    background-repeat: no-repeat;
				    line-height: 30px;
				    padding-left: 30px;
		    	}
		    }
		}
	}
}

.section_contact {
	background-color: darken($light-green, 10%);

	.holder {
		flex-direction:column;

		.contact {
			display:flex;
			justify-content:center;
		}
	}
}

.fixed-background {
    position: fixed;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    bottom: 0;
    left: 0;
}

	.triangle { 
		position:absolute;
	}
		.triangle:before {
		content:"";
		position:absolute;
		bottom: 30px;
		width: 0;
		height: 0;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-bottom: 60px solid;
	}
		.triangle:after {
		content:"";
		position:absolute;
		bottom: -30px;
		width: 0;
		height: 0;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-top: 60px solid;
	}

	.triangle_background {
		position:fixed;
	}

	.triangle-cont {
		position:absolute;
	}

	@for $k from 1 through 7 {
		$even : $k * 2;	
		.triangle_background-#{$even} {

			@for $i from 1 through 9 {
				$j: 65% - 7% * $i;
  				.triangle-#{$i}.triangle:before,
  				.triangle-#{$i}.triangle:after { border-top-color: darken($light-green, $j);
  								   			 	 border-bottom-color: darken($light-green, $j); }
  			}
  		}
  	}

	 @for $k from 1 through 8 {
	$odd : $k * 2 - 1;	
	.triangle_background-#{$odd} {
		@for $i from 1 through 9 {
			$j: 70% - 7% * $i;
  			.triangle-#{$i}.triangle:before,
  			.triangle-#{$i}.triangle:after { border-top-color: darken($light-green, $j);
  								   			 border-bottom-color: darken($light-green, $j); }
  			}
  		}
  	}

	@for $h from 1 through 15 {
		$triangle-height: 60px;
		$triangle-width : 30px;

		.triangle_background-#{$h} {bottom: -210px + $triangle-height * $h;
									right: 270px - $triangle-width * $h; }
		}

	@for $i from 1 through 10 {
  		.triangle-#{$i} { bottom : -420px + 60px * $i;
  					  	  right: 30px + 30px * $i; }
	}




